*.pyc
*.so
.vscode
output
build
submodules/simple-knn/simple_knn.egg-info
submodules/diff_nexel_rasterization/diff_nexel_rasterization.egg-info
submodules/diff_nexel_rasterization/dist
tensorboard_3d
screenshots
eval/
tmp/
Image/
jobs/
wandb/
__pycache__/